# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>DHM>Deconvolve Image, "Make Point Image", edu.pdx.imagej.deconv.Make_PSF
Plugins>DHM>Deconvolve Image, "Resize PSF", edu.pdx.imagej.deconv.Resize_PSF
Plugins>DHM>Deconvolve Image, "Make Hyperstack", edu.pdx.imagej.deconv.Make_Hyperstack
Plugins>DHM>Deconvolve Image, "Wiener Filter", edu.pdx.imagej.deconv.Hyper_Wiener_Filter
Plugins>DHM>Deconvolve Image, "Iterative Deconvolution", edu.pdx.imagej.deconv.Deconvolve_Iterative
Plugins>DHM>Deconvolve Image, "ER-Decon", edu.pdx.imagej.deconv.Regularization
Plugins>DHM>Deconvolve Image, "Get Error", edu.pdx.imagej.deconv.Get_Error
Plugins>DHM>Deconvolve Image, "Convert Images", edu.pdx.imagej.deconv.Image_Converter